# Test binary, build with `go test -c`
compose-data/configurator/data/logs
compose-data/redis/data/*
!compose-data/redis/data/.gitkeep
compose-data/server/data/events
compose-data/server/data/logs
compose-data/server/data/venv

ui-dev-compose/redis/data/*
!ui-dev-compose/redis/data/.gitkeep
ui-dev-compose/redis-insights

.idea/
.run/
package-lock.json
package.json
