node_modules
**/node_modules
.idea
.env.local
.turbo
.pnpm-debug.log

.vercel

/libs/jitsu-react/dist/
/examples/nextjs-app/.next/
/examples/hubspot-function/dist/
/cli/jitsu-cli/compiled/
/cli/jitsu-cli/dist/
/types/protocols/dist/
/libs/functions/dist/
/docker/data/**
/cache/**
/cli/build-scripts/compiled/
/cli/build-scripts/dist/
/libs/jsondiffpatch/lib/
/libs/jsondiffpatch/coverage/
