@import './src/theme';
@import './src/assets/mixins/custom-scrollbar';

.collection {
  .item {
    border-bottom: 1px dashed @border-color-base;
    margin-bottom: 20px;

    .delete {
      flex-shrink: 0;
      display: block;
      padding: 10px;
    }
  }
}

.tabCard {
  height: calc(100vh - 150px);

  :global .ant-tabs-content {
    overflow: auto;
    height: 98%;

    .custom-scrollbar();
  }
}
