@import './src/theme';
@import './src/assets/mixins';

.wrapper {
}

.mainArea {
}

.tabCard {
  height: calc(100vh - 200px);
}

.tabCard :global .ant-tabs-content {
  overflow: auto;
  height: 98%;

  .custom-scrollbar();
}

.highlightNewElement {
  transition: all 2s;
}

.mappings {
  min-width: 1140px;

  .mappingsItem {
    padding: 20px 20px 0;
    margin-bottom: 20px;

    .delete {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 20px;

      .deleteIcon {
        cursor: pointer;

        :global {
          svg {
            fill: @link-color;
          }
        }
      }
    }

    .secondaryLabel {
      :global {
        .ant-form-item-label-left {
          padding-left: 20px;
        }
      }
    }
  }
}
