@import "theme.less";

.applicationPage {
  @apply flex flex-row flex-grow items-stretch;
}

.applicationPageComponent {
  @apply pt-4;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.sidebar {
  @apply flex items-stretch;
  //width: 12rem;
  //max-width: 12rem;
  //min-width: 12rem;
}


.rightbar {
  @apply flex flex-col flex-grow justify-start px-4 pt-3;
  width: calc(100vw - 16rem);
  //max-width: calc(100vw - 16rem);
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.selectedMenuItem {
  border-left: 1px solid @splitBorder;
  border-top: 1px solid @splitBorder;
  border-bottom: 1px solid @splitBorder;
  margin-right: -1px;
  border-right: 1px solid @bgPrimary;
}


.sideBarContent {
  @apply flex flex-col justify-between;
  width: 100%;
  min-width: 100%;
  background-color: @bgPrimary;
  border-right: 1px solid @splitBorder;

}
.sideBarContent :global .ant-menu {
}

.sideBarContent :global .ant-menu-item-selected {
  border-right: 0 !important;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  color: @link-color;

  a {
    font-weight: bold !important;
    color: @link-color;
  }
}

.sideBarContent :global .ant-menu-item {
  width: auto;
  margin-left: 12px;
  padding-left: 12px !important;
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
}

.sideBarContent :global .ant-menu-item::after {
  border-right: 0 !important;
}

.sideBarContent :global .ant-menu-item-active {
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
}

.sideBarContent :global .ant-menu-item-selected.ant-menu-item-active {
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
}

.emailHighlight {
  color: @warning;
}

//.collapsedMenuItem a svg {
//  width: 2em;
//}


.expandButton {
  @apply absolute inline-block top-4 right-0 h-12 flex items-center justify-center rounded-r cursor-pointer text-text hover:text-primary;
  border: 0;
}

