go 1.25

use (
	./admin
	./bulkerapp
	./bulkerlib
	./config-keeper
	./connectors/airbytecdk
	./connectors/firebase
	./eventslog
	./ingest
	./ingress-manager
	./jitsubase
	./kafkabase
	./operator
	./reprocessing-worker
	./sync-controller
	./sync-sidecar
)
