.jitsu-message {
  @apply flex justify-center pt-2;
  position: fixed;
  width: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}

.jitsu-message-notice-content {
  @apply bg-bgComponent px-4 py-3 rounded-lg inline-block;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: all;
}

.jitsu-message-notice-content > .jitsu-message-custom-content > .anticon {
  display: none;
}
